<section
  class="prose flex flex-col md:flex-row justify-between max-w-full md:space-x-20"
>
  <div class="flex-1">
    <h1>Привет. Меня зовут Вадимка не Димка!!!👋</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat
      quo, quasi alias, sit dolorem vitae unde quaerat sint odit maxime! Alias
      omnis laboriosam laborum, quidem necessitatibus repellendus quo aut!
    </p>
  </div>
  <div class="flex-shrink-0 mx-auto">
    <img class="h-72" src="/User.jpg" alt="Profile Photo" />
  </div>
</section>
